.profile-info{
	@extend .card;
	@extend .col-xs-12;
	padding-right: 0;
	padding-left: 0;
	.profile-header{
		height: 150px;
		.profile-thumbnail{
			width: 120px;
			position: absolute;
			left: 50%;
			margin-left: -60px;
			margin-top: 30px;
			.profile-img{
				@extend .img-fluid;
				@extend .img-circle;
			}
			.profile-status{
				display: block;
				width: 1px;
				min-height: 1px;
				padding: .3rem;
				border-radius: 50%;
				background-color: $status-color;
				position: absolute;
				right: 25%;
				margin-top: -.9rem;
				border: 1.5px solid #FFF;
			}
		}
	}
	.profile-body{
		@extend .col-xs-12;
		padding-right: 0;
		padding-left: 0;
		text-align: center;
		.profile-title{
			padding-top: 1rem;
		}
		.profile-city{
			font-size: 1rem;
			color: $body-font-color;
			    margin-bottom: 1.5rem;
		}
		.profile-item{
			@extend .col-xs-6;
			border: 1px solid $body-bg;
			text-align: left;
			padding: 1.2rem 1rem;
			.profile-item-title{
				font-size: .825rem;
				color: $body-font-color;
			}
			.profile-item-subtitle{
				font-size: 1.2rem;
			}
		}
	}
	.profile-footer{
		float: left;
		width: 100%;
		.footer-text{
			text-align: center;
			color: $active-menu-color;
			text-decoration: underline;
			font-weight: bold;
			padding: 1rem 0;
			font-size: .825rem;
		}
	}
	
	@media (min-width: map-get($grid-breakpoints, lg)){
		width: 50%;
		float: left;
		position: relative;
		margin-left: 1.25%;

	}
	@media (min-width: map-get($grid-breakpoints, xl)){
		width: 32%;
		float: left;
		position: relative;
		min-height: 468px;
		margin-left: 1.25%;

	}
	
}